In [8]:
# %pip install fastexcel
# %pip install polars

In [9]:
import polars as pl

In [10]:
df = pl.read_excel("../../Data/raw/Telco_customer_churn_services.xlsx")
df

shape: (7_043, 30)
┌────────────┬───────┬─────────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ Customer   ┆ Count ┆ Quarter ┆ Referred a ┆ … ┆ Total      ┆ Total      ┆ Total Long ┆ Total     │
│ ID         ┆ ---   ┆ ---     ┆ Friend     ┆   ┆ Refunds    ┆ Extra Data ┆ Distance   ┆ Revenue   │
│ ---        ┆ i64   ┆ str     ┆ ---        ┆   ┆ ---        ┆ Charges    ┆ Charges    ┆ ---       │
│ str        ┆       ┆         ┆ str        ┆   ┆ f64        ┆ ---        ┆ ---        ┆ f64       │
│            ┆       ┆         ┆            ┆   ┆            ┆ i64        ┆ f64        ┆           │
╞════════════╪═══════╪═════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ 8779-QRDMV ┆ 1     ┆ Q3      ┆ No         ┆ … ┆ 0.0        ┆ 20         ┆ 0.0        ┆ 59.65     │
│ 7495-OOKFY ┆ 1     ┆ Q3      ┆ Yes        ┆ … ┆ 0.0        ┆ 0          ┆ 390.8      ┆ 1024.1    │
│ 1658-BYGOY ┆ 1     ┆ Q3      ┆ No         ┆ … ┆ 45.61      ┆ 0          ┆ 203.94     ┆ 1910.88   │
│ 4598-XLKNJ ┆ 1     ┆ Q3      ┆ Yes        ┆ … ┆ 13.43      ┆ 0          ┆ 494.0      ┆ 2995.07   │
│ 4846-WHAFZ ┆ 1     ┆ Q3      ┆ Yes        ┆ … ┆ 0.0        ┆ 0          ┆ 234.21     ┆ 3102.36   │
│ …          ┆ …     ┆ …       ┆ …          ┆ … ┆ …          ┆ …          ┆ …          ┆ …         │
│ 2569-WGERO ┆ 1     ┆ Q3      ┆ No         ┆ … ┆ 19.31      ┆ 0          ┆ 1639.44    ┆ 3039.53   │
│ 6840-RESVB ┆ 1     ┆ Q3      ┆ Yes        ┆ … ┆ 48.23      ┆ 0          ┆ 865.2      ┆ 2807.47   │
│ 2234-XADUH ┆ 1     ┆ Q3      ┆ Yes        ┆ … ┆ 45.38      ┆ 0          ┆ 2135.52    ┆ 9453.04   │
│ 4801-JZAZL ┆ 1     ┆ Q3      ┆ Yes        ┆ … ┆ 27.24      ┆ 0          ┆ 0.0        ┆ 319.21    │
│ 3186-AJIEK ┆ 1     ┆ Q3      ┆ No         ┆ … ┆ 0.0        ┆ 0          ┆ 2043.36    ┆ 8887.86   │
└────────────┴───────┴─────────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

In [11]:
df.count()

shape: (1, 30)
┌────────────┬───────┬─────────┬────────────┬───┬────────────┬────────────┬────────────┬───────────┐
│ Customer   ┆ Count ┆ Quarter ┆ Referred a ┆ … ┆ Total      ┆ Total      ┆ Total Long ┆ Total     │
│ ID         ┆ ---   ┆ ---     ┆ Friend     ┆   ┆ Refunds    ┆ Extra Data ┆ Distance   ┆ Revenue   │
│ ---        ┆ u32   ┆ u32     ┆ ---        ┆   ┆ ---        ┆ Charges    ┆ Charges    ┆ ---       │
│ u32        ┆       ┆         ┆ u32        ┆   ┆ u32        ┆ ---        ┆ ---        ┆ u32       │
│            ┆       ┆         ┆            ┆   ┆            ┆ u32        ┆ u32        ┆           │
╞════════════╪═══════╪═════════╪════════════╪═══╪════════════╪════════════╪════════════╪═══════════╡
│ 7043       ┆ 7043  ┆ 7043    ┆ 7043       ┆ … ┆ 7043       ┆ 7043       ┆ 7043       ┆ 7043      │
└────────────┴───────┴─────────┴────────────┴───┴────────────┴────────────┴────────────┴───────────┘

In [12]:
df.columns

['Customer ID',
 'Count',
 'Quarter',
 'Referred a Friend',
 'Number of Referrals',
 'Tenure in Months',
 'Offer',
 'Phone Service',
 'Avg Monthly Long Distance Charges',
 'Multiple Lines',
 'Internet Service',
 'Internet Type',
 'Avg Monthly GB Download',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Contract',
 'Paperless Billing',
 'Payment Method',
 'Monthly Charge',
 'Total Charges',
 'Total Refunds',
 'Total Extra Data Charges',
 'Total Long Distance Charges',
 'Total Revenue']

In [13]:
df.describe()

shape: (9, 31)
┌────────────┬────────────┬────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ statistic  ┆ Customer   ┆ Count  ┆ Quarter ┆ … ┆ Total      ┆ Total      ┆ Total     ┆ Total     │
│ ---        ┆ ID         ┆ ---    ┆ ---     ┆   ┆ Refunds    ┆ Extra Data ┆ Long      ┆ Revenue   │
│ str        ┆ ---        ┆ f64    ┆ str     ┆   ┆ ---        ┆ Charges    ┆ Distance  ┆ ---       │
│            ┆ str        ┆        ┆         ┆   ┆ f64        ┆ ---        ┆ Charges   ┆ f64       │
│            ┆            ┆        ┆         ┆   ┆            ┆ f64        ┆ ---       ┆           │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆ f64       ┆           │
╞════════════╪════════════╪════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ count      ┆ 7043       ┆ 7043.0 ┆ 7043    ┆ … ┆ 7043.0     ┆ 7043.0     ┆ 7043.0    ┆ 7043.0    │
│ null_count ┆ 0          ┆ 0.0    ┆ 0       ┆ … ┆ 0.0        ┆ 0.0        ┆ 0.0       ┆ 0.0       │
│ mean       ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 1.962182   ┆ 6.860713   ┆ 749.09926 ┆ 3034.3790 │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆ 2         ┆ 56        │
│ std        ┆ null       ┆ 0.0    ┆ null    ┆ … ┆ 7.902614   ┆ 25.104978  ┆ 846.66005 ┆ 2865.2045 │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆ 5         ┆ 42        │
│ min        ┆ 0002-ORFBO ┆ 1.0    ┆ Q3      ┆ … ┆ 0.0        ┆ 0.0        ┆ 0.0       ┆ 21.36     │
│ 25%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 0.0        ┆ 0.0        ┆ 70.59     ┆ 605.75    │
│ 50%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 0.0        ┆ 0.0        ┆ 401.44    ┆ 2108.64   │
│ 75%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 0.0        ┆ 0.0        ┆ 1191.5    ┆ 4801.93   │
│ max        ┆ 9995-HOTOH ┆ 1.0    ┆ Q3      ┆ … ┆ 49.79      ┆ 150.0      ┆ 3564.72   ┆ 11979.34  │
└────────────┴────────────┴────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [14]:
df.group_by(pl.col('Customer ID')).len()

shape: (7_043, 2)
┌─────────────┬─────┐
│ Customer ID ┆ len │
│ ---         ┆ --- │
│ str         ┆ u32 │
╞═════════════╪═════╡
│ 7102-JJVTX  ┆ 1   │
│ 6892-BOGQE  ┆ 1   │
│ 0023-HGHWL  ┆ 1   │
│ 3496-LFSZU  ┆ 1   │
│ 5793-YOLJN  ┆ 1   │
│ …           ┆ …   │
│ 6490-FGZAT  ┆ 1   │
│ 5219-YIPTK  ┆ 1   │
│ 0929-HYQEW  ┆ 1   │
│ 4821-SJHJV  ┆ 1   │
│ 5366-OBVMR  ┆ 1   │
└─────────────┴─────┘

In [15]:
df.group_by(pl.col('Count')).len()

shape: (1, 2)
┌───────┬──────┐
│ Count ┆ len  │
│ ---   ┆ ---  │
│ i64   ┆ u32  │
╞═══════╪══════╡
│ 1     ┆ 7043 │
└───────┴──────┘

In [16]:
df.group_by(pl.col('Quarter')).len()

shape: (1, 2)
┌─────────┬──────┐
│ Quarter ┆ len  │
│ ---     ┆ ---  │
│ str     ┆ u32  │
╞═════════╪══════╡
│ Q3      ┆ 7043 │
└─────────┴──────┘

In [17]:
df.group_by(pl.col('Referred a Friend')).len()

shape: (2, 2)
┌───────────────────┬──────┐
│ Referred a Friend ┆ len  │
│ ---               ┆ ---  │
│ str               ┆ u32  │
╞═══════════════════╪══════╡
│ Yes               ┆ 3222 │
│ No                ┆ 3821 │
└───────────────────┴──────┘

In [18]:
df.group_by(pl.col('Number of Referrals')).len()

shape: (12, 2)
┌─────────────────────┬──────┐
│ Number of Referrals ┆ len  │
│ ---                 ┆ ---  │
│ i64                 ┆ u32  │
╞═════════════════════╪══════╡
│ 7                   ┆ 248  │
│ 1                   ┆ 1086 │
│ 5                   ┆ 264  │
│ 6                   ┆ 221  │
│ 2                   ┆ 236  │
│ …                   ┆ …    │
│ 0                   ┆ 3821 │
│ 8                   ┆ 213  │
│ 11                  ┆ 2    │
│ 3                   ┆ 255  │
│ 9                   ┆ 238  │
└─────────────────────┴──────┘

In [19]:
df.group_by(pl.col('Tenure in Months')).len()

shape: (72, 2)
┌──────────────────┬─────┐
│ Tenure in Months ┆ len │
│ ---              ┆ --- │
│ i64              ┆ u32 │
╞══════════════════╪═════╡
│ 12               ┆ 117 │
│ 6                ┆ 110 │
│ 9                ┆ 119 │
│ 21               ┆ 63  │
│ 3                ┆ 200 │
│ …                ┆ …   │
│ 59               ┆ 60  │
│ 62               ┆ 70  │
│ 71               ┆ 170 │
│ 65               ┆ 76  │
│ 68               ┆ 100 │
└──────────────────┴─────┘

In [20]:
df.group_by(pl.col('Offer')).len()

shape: (6, 2)
┌─────────┬──────┐
│ Offer   ┆ len  │
│ ---     ┆ ---  │
│ str     ┆ u32  │
╞═════════╪══════╡
│ Offer D ┆ 602  │
│ Offer C ┆ 415  │
│ Offer E ┆ 805  │
│ Offer B ┆ 824  │
│ Offer A ┆ 520  │
│ None    ┆ 3877 │
└─────────┴──────┘

In [21]:
df.group_by(pl.col('Phone Service')).len()

shape: (2, 2)
┌───────────────┬──────┐
│ Phone Service ┆ len  │
│ ---           ┆ ---  │
│ str           ┆ u32  │
╞═══════════════╪══════╡
│ No            ┆ 682  │
│ Yes           ┆ 6361 │
└───────────────┴──────┘

In [22]:
df.group_by(pl.col('Avg Monthly Long Distance Charges')).len()

shape: (3_584, 2)
┌─────────────────────────────────┬─────┐
│ Avg Monthly Long Distance Char… ┆ len │
│ ---                             ┆ --- │
│ f64                             ┆ u32 │
╞═════════════════════════════════╪═════╡
│ 31.76                           ┆ 2   │
│ 19.27                           ┆ 2   │
│ 25.86                           ┆ 1   │
│ 4.66                            ┆ 1   │
│ 46.62                           ┆ 1   │
│ …                               ┆ …   │
│ 22.86                           ┆ 4   │
│ 11.75                           ┆ 4   │
│ 48.14                           ┆ 4   │
│ 1.83                            ┆ 1   │
│ 4.13                            ┆ 2   │
└─────────────────────────────────┴─────┘

In [23]:
df.group_by(pl.col('Multiple Lines')).len()

shape: (2, 2)
┌────────────────┬──────┐
│ Multiple Lines ┆ len  │
│ ---            ┆ ---  │
│ str            ┆ u32  │
╞════════════════╪══════╡
│ No             ┆ 4072 │
│ Yes            ┆ 2971 │
└────────────────┴──────┘

In [46]:
df.group_by(pl.col('Internet Service')).len()

shape: (2, 2)
┌──────────────────┬──────┐
│ Internet Service ┆ len  │
│ ---              ┆ ---  │
│ str              ┆ u32  │
╞══════════════════╪══════╡
│ No               ┆ 1526 │
│ Yes              ┆ 5517 │
└──────────────────┴──────┘

In [24]:
df.group_by(pl.col('Internet Type')).len()

shape: (4, 2)
┌───────────────┬──────┐
│ Internet Type ┆ len  │
│ ---           ┆ ---  │
│ str           ┆ u32  │
╞═══════════════╪══════╡
│ DSL           ┆ 1652 │
│ Cable         ┆ 830  │
│ None          ┆ 1526 │
│ Fiber Optic   ┆ 3035 │
└───────────────┴──────┘

In [25]:
df.group_by(pl.col('Avg Monthly GB Download')).len()

shape: (50, 2)
┌─────────────────────────┬─────┐
│ Avg Monthly GB Download ┆ len │
│ ---                     ┆ --- │
│ i64                     ┆ u32 │
╞═════════════════════════╪═════╡
│ 18                      ┆ 164 │
│ 12                      ┆ 143 │
│ 3                       ┆ 130 │
│ 15                      ┆ 132 │
│ 24                      ┆ 148 │
│ …                       ┆ …   │
│ 47                      ┆ 36  │
│ 41                      ┆ 67  │
│ 56                      ┆ 16  │
│ 71                      ┆ 42  │
│ 59                      ┆ 192 │
└─────────────────────────┴─────┘

In [26]:
df.group_by(pl.col('Online Security')).len()

shape: (2, 2)
┌─────────────────┬──────┐
│ Online Security ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ No              ┆ 5024 │
│ Yes             ┆ 2019 │
└─────────────────┴──────┘

In [27]:
df.group_by(pl.col('Online Backup')).len()

shape: (2, 2)
┌───────────────┬──────┐
│ Online Backup ┆ len  │
│ ---           ┆ ---  │
│ str           ┆ u32  │
╞═══════════════╪══════╡
│ No            ┆ 4614 │
│ Yes           ┆ 2429 │
└───────────────┴──────┘

In [28]:
df.group_by(pl.col('Device Protection Plan')).len()

shape: (2, 2)
┌────────────────────────┬──────┐
│ Device Protection Plan ┆ len  │
│ ---                    ┆ ---  │
│ str                    ┆ u32  │
╞════════════════════════╪══════╡
│ No                     ┆ 4621 │
│ Yes                    ┆ 2422 │
└────────────────────────┴──────┘

In [29]:
df.group_by(pl.col('Premium Tech Support')).len()

shape: (2, 2)
┌──────────────────────┬──────┐
│ Premium Tech Support ┆ len  │
│ ---                  ┆ ---  │
│ str                  ┆ u32  │
╞══════════════════════╪══════╡
│ No                   ┆ 4999 │
│ Yes                  ┆ 2044 │
└──────────────────────┴──────┘

In [30]:
df.group_by(pl.col('Streaming TV')).len()

shape: (2, 2)
┌──────────────┬──────┐
│ Streaming TV ┆ len  │
│ ---          ┆ ---  │
│ str          ┆ u32  │
╞══════════════╪══════╡
│ No           ┆ 4336 │
│ Yes          ┆ 2707 │
└──────────────┴──────┘

In [31]:
df.group_by(pl.col('Streaming Movies')).len()

shape: (2, 2)
┌──────────────────┬──────┐
│ Streaming Movies ┆ len  │
│ ---              ┆ ---  │
│ str              ┆ u32  │
╞══════════════════╪══════╡
│ Yes              ┆ 2732 │
│ No               ┆ 4311 │
└──────────────────┴──────┘

In [32]:
df.group_by(pl.col('Streaming Music')).len()

shape: (2, 2)
┌─────────────────┬──────┐
│ Streaming Music ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ No              ┆ 4555 │
│ Yes             ┆ 2488 │
└─────────────────┴──────┘

In [33]:
df.group_by(pl.col('Unlimited Data')).len()

shape: (2, 2)
┌────────────────┬──────┐
│ Unlimited Data ┆ len  │
│ ---            ┆ ---  │
│ str            ┆ u32  │
╞════════════════╪══════╡
│ No             ┆ 2298 │
│ Yes            ┆ 4745 │
└────────────────┴──────┘

In [34]:
df.group_by(pl.col('Contract')).len()

shape: (3, 2)
┌────────────────┬──────┐
│ Contract       ┆ len  │
│ ---            ┆ ---  │
│ str            ┆ u32  │
╞════════════════╪══════╡
│ One Year       ┆ 1550 │
│ Month-to-Month ┆ 3610 │
│ Two Year       ┆ 1883 │
└────────────────┴──────┘

In [35]:
df.group_by(pl.col('Paperless Billing')).len()

shape: (2, 2)
┌───────────────────┬──────┐
│ Paperless Billing ┆ len  │
│ ---               ┆ ---  │
│ str               ┆ u32  │
╞═══════════════════╪══════╡
│ No                ┆ 2872 │
│ Yes               ┆ 4171 │
└───────────────────┴──────┘

In [36]:
df.group_by(pl.col('Payment Method')).len()

shape: (3, 2)
┌─────────────────┬──────┐
│ Payment Method  ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ Mailed Check    ┆ 385  │
│ Bank Withdrawal ┆ 3909 │
│ Credit Card     ┆ 2749 │
└─────────────────┴──────┘

In [40]:
df.group_by(pl.col('Monthly Charge')).len()

shape: (1_585, 2)
┌────────────────┬─────┐
│ Monthly Charge ┆ len │
│ ---            ┆ --- │
│ f64            ┆ u32 │
╞════════════════╪═════╡
│ 116.95         ┆ 1   │
│ 25.0           ┆ 17  │
│ 38.9           ┆ 2   │
│ 21.2           ┆ 3   │
│ 71.8           ┆ 2   │
│ …              ┆ …   │
│ 67.2           ┆ 1   │
│ 88.3           ┆ 2   │
│ 59.6           ┆ 5   │
│ 59.8           ┆ 9   │
│ 91.05          ┆ 5   │
└────────────────┴─────┘

In [41]:
df.group_by(pl.col('Total Charges')).len()

shape: (6_540, 2)
┌───────────────┬─────┐
│ Total Charges ┆ len │
│ ---           ┆ --- │
│ f64           ┆ u32 │
╞═══════════════╪═════╡
│ 3580.95       ┆ 1   │
│ 1070.15       ┆ 1   │
│ 283.95        ┆ 1   │
│ 3605.2        ┆ 1   │
│ 2030.3        ┆ 1   │
│ …             ┆ …   │
│ 4039.3        ┆ 1   │
│ 1379.6        ┆ 1   │
│ 2911.8        ┆ 1   │
│ 1107.25       ┆ 1   │
│ 927.35        ┆ 1   │
└───────────────┴─────┘

In [45]:
df.group_by(pl.col('Total Refunds')).len()

shape: (500, 2)
┌───────────────┬─────┐
│ Total Refunds ┆ len │
│ ---           ┆ --- │
│ f64           ┆ u32 │
╞═══════════════╪═════╡
│ 19.32         ┆ 1   │
│ 47.79         ┆ 1   │
│ 10.17         ┆ 1   │
│ 25.57         ┆ 1   │
│ 47.19         ┆ 1   │
│ …             ┆ …   │
│ 23.47         ┆ 1   │
│ 31.05         ┆ 1   │
│ 17.96         ┆ 1   │
│ 17.16         ┆ 1   │
│ 16.89         ┆ 1   │
└───────────────┴─────┘

In [42]:
df.group_by(pl.col('Total Extra Data Charges')).len()

shape: (16, 2)
┌──────────────────────────┬──────┐
│ Total Extra Data Charges ┆ len  │
│ ---                      ┆ ---  │
│ i64                      ┆ u32  │
╞══════════════════════════╪══════╡
│ 30                       ┆ 58   │
│ 80                       ┆ 47   │
│ 150                      ┆ 42   │
│ 0                        ┆ 6315 │
│ 140                      ┆ 38   │
│ …                        ┆ …    │
│ 70                       ┆ 34   │
│ 120                      ┆ 28   │
│ 10                       ┆ 138  │
│ 60                       ┆ 36   │
│ 130                      ┆ 40   │
└──────────────────────────┴──────┘

In [43]:
df.group_by(pl.col('Total Long Distance Charges')).len()

shape: (6_110, 2)
┌─────────────────────────────┬─────┐
│ Total Long Distance Charges ┆ len │
│ ---                         ┆ --- │
│ f64                         ┆ u32 │
╞═════════════════════════════╪═════╡
│ 616.8                       ┆ 1   │
│ 238.4                       ┆ 1   │
│ 756.16                      ┆ 1   │
│ 1191.5                      ┆ 1   │
│ 975.26                      ┆ 1   │
│ …                           ┆ …   │
│ 283.74                      ┆ 1   │
│ 1689.61                     ┆ 1   │
│ 505.08                      ┆ 1   │
│ 624.53                      ┆ 1   │
│ 846.26                      ┆ 1   │
└─────────────────────────────┴─────┘

In [44]:
df.group_by(pl.col('Total Revenue')).len()

shape: (6_996, 2)
┌───────────────┬─────┐
│ Total Revenue ┆ len │
│ ---           ┆ --- │
│ f64           ┆ u32 │
╞═══════════════╪═════╡
│ 1083.14       ┆ 1   │
│ 5728.88       ┆ 1   │
│ 7967.85       ┆ 1   │
│ 7310.8        ┆ 1   │
│ 4310.6        ┆ 1   │
│ …             ┆ …   │
│ 195.58        ┆ 1   │
│ 118.25        ┆ 1   │
│ 9885.87       ┆ 1   │
│ 967.15        ┆ 1   │
│ 2328.72       ┆ 1   │
└───────────────┴─────┘

Both Count and Quarter have allways the same result

In [47]:
# Drop de múltiplas colunas
df = df.drop(["Count", "Quarter"])
df

shape: (7_043, 28)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ Customer  ┆ Referred  ┆ Number of ┆ Tenure in ┆ … ┆ Total     ┆ Total     ┆ Total     ┆ Total    │
│ ID        ┆ a Friend  ┆ Referrals ┆ Months    ┆   ┆ Refunds   ┆ Extra     ┆ Long      ┆ Revenue  │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ Data      ┆ Distance  ┆ ---      │
│ str       ┆ str       ┆ i64       ┆ i64       ┆   ┆ f64       ┆ Charges   ┆ Charges   ┆ f64      │
│           ┆           ┆           ┆           ┆   ┆           ┆ ---       ┆ ---       ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆ i64       ┆ f64       ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 8779-QRDM ┆ No        ┆ 0         ┆ 1         ┆ … ┆ 0.0       ┆ 20        ┆ 0.0       ┆ 59.65    │
│ V         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 7495-OOKF ┆ Yes       ┆ 1         ┆ 8         ┆ … ┆ 0.0       ┆ 0         ┆ 390.8     ┆ 1024.1   │
│ Y         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1658-BYGO ┆ No        ┆ 0         ┆ 18        ┆ … ┆ 45.61     ┆ 0         ┆ 203.94    ┆ 1910.88  │
│ Y         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 4598-XLKN ┆ Yes       ┆ 1         ┆ 25        ┆ … ┆ 13.43     ┆ 0         ┆ 494.0     ┆ 2995.07  │
│ J         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 4846-WHAF ┆ Yes       ┆ 1         ┆ 37        ┆ … ┆ 0.0       ┆ 0         ┆ 234.21    ┆ 3102.36  │
│ Z         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2569-WGER ┆ No        ┆ 0         ┆ 72        ┆ … ┆ 19.31     ┆ 0         ┆ 1639.44   ┆ 3039.53  │
│ O         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 6840-RESV ┆ Yes       ┆ 1         ┆ 24        ┆ … ┆ 48.23     ┆ 0         ┆ 865.2     ┆ 2807.47  │
│ B         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2234-XADU ┆ Yes       ┆ 4         ┆ 72        ┆ … ┆ 45.38     ┆ 0         ┆ 2135.52   ┆ 9453.04  │
│ H         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 4801-JZAZ ┆ Yes       ┆ 1         ┆ 11        ┆ … ┆ 27.24     ┆ 0         ┆ 0.0       ┆ 319.21   │
│ L         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 3186-AJIE ┆ No        ┆ 0         ┆ 66        ┆ … ┆ 0.0       ┆ 0         ┆ 2043.36   ┆ 8887.86  │
│ K         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘