In [1]:
# %pip install fastexcel
# %pip install polars

In [2]:
import polars as pl

In [3]:
df = pl.read_excel("../../Data/raw/Telco_customer_churn_status.xlsx")

In [4]:
df.head(10)

shape: (10, 11)
┌─────────────┬───────┬─────────┬─────────────┬───┬─────────────┬──────┬─────────────┬─────────────┐
│ Customer ID ┆ Count ┆ Quarter ┆ Satisfactio ┆ … ┆ Churn Score ┆ CLTV ┆ Churn       ┆ Churn       │
│ ---         ┆ ---   ┆ ---     ┆ n Score     ┆   ┆ ---         ┆ ---  ┆ Category    ┆ Reason      │
│ str         ┆ i64   ┆ str     ┆ ---         ┆   ┆ i64         ┆ i64  ┆ ---         ┆ ---         │
│             ┆       ┆         ┆ i64         ┆   ┆             ┆      ┆ str         ┆ str         │
╞═════════════╪═══════╪═════════╪═════════════╪═══╪═════════════╪══════╪═════════════╪═════════════╡
│ 8779-QRDMV  ┆ 1     ┆ Q3      ┆ 3           ┆ … ┆ 91          ┆ 5433 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offered     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ more data   │
│ 7495-OOKFY  ┆ 1     ┆ Q3      ┆ 3           ┆ … ┆ 69          ┆ 5302 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ made better │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offer       │
│ 1658-BYGOY  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 81          ┆ 3179 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ made better │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offer       │
│ 4598-XLKNJ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 88          ┆ 5337 ┆ Dissatisfac ┆ Limited     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆ tion        ┆ range of    │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ services    │
│ 4846-WHAFZ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 67          ┆ 2793 ┆ Price       ┆ Extra data  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ charges     │
│ 4412-YLTKF  ┆ 1     ┆ Q3      ┆ 1           ┆ … ┆ 95          ┆ 4638 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ had better  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ devices     │
│ 0390-DCFDQ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 76          ┆ 3964 ┆ Other       ┆ Don't know  │
│ 3445-HXXGF  ┆ 1     ┆ Q3      ┆ 1           ┆ … ┆ 91          ┆ 5444 ┆ Dissatisfac ┆ Service dis │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆ tion        ┆ satisfactio │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ n           │
│ 2656-FMOKZ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 91          ┆ 5717 ┆ Dissatisfac ┆ Limited     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆ tion        ┆ range of    │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ services    │
│ 2070-FNEXE  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 81          ┆ 4419 ┆ Price       ┆ Lack of     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ affordable  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ download/up │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ …           │
└─────────────┴───────┴─────────┴─────────────┴───┴─────────────┴──────┴─────────────┴─────────────┘

In [5]:
df.count()

shape: (1, 11)
┌─────────────┬───────┬─────────┬───────────────┬───┬─────────────┬──────┬──────────┬──────────────┐
│ Customer ID ┆ Count ┆ Quarter ┆ Satisfaction  ┆ … ┆ Churn Score ┆ CLTV ┆ Churn    ┆ Churn Reason │
│ ---         ┆ ---   ┆ ---     ┆ Score         ┆   ┆ ---         ┆ ---  ┆ Category ┆ ---          │
│ u32         ┆ u32   ┆ u32     ┆ ---           ┆   ┆ u32         ┆ u32  ┆ ---      ┆ u32          │
│             ┆       ┆         ┆ u32           ┆   ┆             ┆      ┆ u32      ┆              │
╞═════════════╪═══════╪═════════╪═══════════════╪═══╪═════════════╪══════╪══════════╪══════════════╡
│ 7043        ┆ 7043  ┆ 7043    ┆ 7043          ┆ … ┆ 7043        ┆ 7043 ┆ 1869     ┆ 1869         │
└─────────────┴───────┴─────────┴───────────────┴───┴─────────────┴──────┴──────────┴──────────────┘

In [6]:
df.describe()

shape: (9, 12)
┌────────────┬────────────┬────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ statistic  ┆ Customer   ┆ Count  ┆ Quarter ┆ … ┆ Churn      ┆ CLTV       ┆ Churn     ┆ Churn     │
│ ---        ┆ ID         ┆ ---    ┆ ---     ┆   ┆ Score      ┆ ---        ┆ Category  ┆ Reason    │
│ str        ┆ ---        ┆ f64    ┆ str     ┆   ┆ ---        ┆ f64        ┆ ---       ┆ ---       │
│            ┆ str        ┆        ┆         ┆   ┆ f64        ┆            ┆ str       ┆ str       │
╞════════════╪════════════╪════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ count      ┆ 7043       ┆ 7043.0 ┆ 7043    ┆ … ┆ 7043.0     ┆ 7043.0     ┆ 1869      ┆ 1869      │
│ null_count ┆ 0          ┆ 0.0    ┆ 0       ┆ … ┆ 0.0        ┆ 0.0        ┆ 5174      ┆ 5174      │
│ mean       ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 58.50504   ┆ 4400.29575 ┆ null      ┆ null      │
│            ┆            ┆        ┆         ┆   ┆            ┆ 5          ┆           ┆           │
│ std        ┆ null       ┆ 0.0    ┆ null    ┆ … ┆ 21.170031  ┆ 1183.05715 ┆ null      ┆ null      │
│            ┆            ┆        ┆         ┆   ┆            ┆ 2          ┆           ┆           │
│ min        ┆ 0002-ORFBO ┆ 1.0    ┆ Q3      ┆ … ┆ 5.0        ┆ 2003.0     ┆ Attitude  ┆ Attitude  │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ of        │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ service   │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ provider  │
│ 25%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 40.0       ┆ 3469.0     ┆ null      ┆ null      │
│ 50%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 61.0       ┆ 4527.0     ┆ null      ┆ null      │
│ 75%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 76.0       ┆ 5381.0     ┆ null      ┆ null      │
│ max        ┆ 9995-HOTOH ┆ 1.0    ┆ Q3      ┆ … ┆ 96.0       ┆ 6500.0     ┆ Price     ┆ Service   │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ dissatisf │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ action    │
└────────────┴────────────┴────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [7]:
df.columns

['Customer ID',
 'Count',
 'Quarter',
 'Satisfaction Score',
 'Customer Status',
 'Churn Label',
 'Churn Value',
 'Churn Score',
 'CLTV',
 'Churn Category',
 'Churn Reason']

In [8]:
df.group_by(pl.col('Customer ID')).len()

shape: (7_043, 2)
┌─────────────┬─────┐
│ Customer ID ┆ len │
│ ---         ┆ --- │
│ str         ┆ u32 │
╞═════════════╪═════╡
│ 2018-PZKMU  ┆ 1   │
│ 7601-DHFWZ  ┆ 1   │
│ 7568-PODML  ┆ 1   │
│ 7560-QRBXH  ┆ 1   │
│ 4480-QQRHC  ┆ 1   │
│ …           ┆ …   │
│ 2959-MJHIC  ┆ 1   │
│ 3256-EZDBI  ┆ 1   │
│ 7868-TMWMZ  ┆ 1   │
│ 2482-CZGBB  ┆ 1   │
│ 2373-NTKOD  ┆ 1   │
└─────────────┴─────┘

In [9]:
df.group_by(pl.col('Count')).len()

shape: (1, 2)
┌───────┬──────┐
│ Count ┆ len  │
│ ---   ┆ ---  │
│ i64   ┆ u32  │
╞═══════╪══════╡
│ 1     ┆ 7043 │
└───────┴──────┘

In [10]:
df.group_by(pl.col('Quarter')).len()

shape: (1, 2)
┌─────────┬──────┐
│ Quarter ┆ len  │
│ ---     ┆ ---  │
│ str     ┆ u32  │
╞═════════╪══════╡
│ Q3      ┆ 7043 │
└─────────┴──────┘

In [11]:
df.group_by(pl.col('Satisfaction Score')).len()

shape: (5, 2)
┌────────────────────┬──────┐
│ Satisfaction Score ┆ len  │
│ ---                ┆ ---  │
│ i64                ┆ u32  │
╞════════════════════╪══════╡
│ 2                  ┆ 518  │
│ 3                  ┆ 2665 │
│ 5                  ┆ 1149 │
│ 1                  ┆ 922  │
│ 4                  ┆ 1789 │
└────────────────────┴──────┘

In [12]:
df.group_by(pl.col('Customer Status')).len()

shape: (3, 2)
┌─────────────────┬──────┐
│ Customer Status ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ Stayed          ┆ 4720 │
│ Churned         ┆ 1869 │
│ Joined          ┆ 454  │
└─────────────────┴──────┘

In [13]:
df.group_by(pl.col('Churn Label')).len()

shape: (2, 2)
┌─────────────┬──────┐
│ Churn Label ┆ len  │
│ ---         ┆ ---  │
│ str         ┆ u32  │
╞═════════════╪══════╡
│ Yes         ┆ 1869 │
│ No          ┆ 5174 │
└─────────────┴──────┘

In [14]:
df.group_by(pl.col('Churn Value')).len()

shape: (2, 2)
┌─────────────┬──────┐
│ Churn Value ┆ len  │
│ ---         ┆ ---  │
│ i64         ┆ u32  │
╞═════════════╪══════╡
│ 1           ┆ 1869 │
│ 0           ┆ 5174 │
└─────────────┴──────┘

In [15]:
df.group_by(pl.col('Churn Score')).len()

shape: (81, 2)
┌─────────────┬─────┐
│ Churn Score ┆ len │
│ ---         ┆ --- │
│ i64         ┆ u32 │
╞═════════════╪═════╡
│ 21          ┆ 84  │
│ 9           ┆ 3   │
│ 24          ┆ 86  │
│ 30          ┆ 90  │
│ 27          ┆ 95  │
│ …           ┆ …   │
│ 86          ┆ 49  │
│ 83          ┆ 59  │
│ 89          ┆ 60  │
│ 92          ┆ 51  │
│ 95          ┆ 46  │
└─────────────┴─────┘

In [16]:
df.group_by(pl.col('CLTV')).len()

shape: (3_438, 2)
┌──────┬─────┐
│ CLTV ┆ len │
│ ---  ┆ --- │
│ i64  ┆ u32 │
╞══════╪═════╡
│ 5511 ┆ 2   │
│ 3945 ┆ 3   │
│ 2114 ┆ 1   │
│ 2900 ┆ 1   │
│ 4219 ┆ 2   │
│ …    ┆ …   │
│ 2879 ┆ 2   │
│ 4052 ┆ 2   │
│ 5761 ┆ 2   │
│ 5350 ┆ 1   │
│ 4567 ┆ 1   │
└──────┴─────┘

In [17]:
df.group_by(pl.col('Churn Category')).len()

shape: (6, 2)
┌─────────────────┬──────┐
│ Churn Category  ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ null            ┆ 5174 │
│ Attitude        ┆ 314  │
│ Price           ┆ 211  │
│ Competitor      ┆ 841  │
│ Other           ┆ 200  │
│ Dissatisfaction ┆ 303  │
└─────────────────┴──────┘

In [18]:
df.group_by(pl.col('Churn Reason')).len()

shape: (21, 2)
┌─────────────────────────────────┬──────┐
│ Churn Reason                    ┆ len  │
│ ---                             ┆ ---  │
│ str                             ┆ u32  │
╞═════════════════════════════════╪══════╡
│ Price too high                  ┆ 78   │
│ Extra data charges              ┆ 39   │
│ Service dissatisfaction         ┆ 63   │
│ Product dissatisfaction         ┆ 77   │
│ Attitude of service provider    ┆ 94   │
│ …                               ┆ …    │
│ Competitor had better devices   ┆ 313  │
│ null                            ┆ 5174 │
│ Competitor offered higher down… ┆ 100  │
│ Long distance charges           ┆ 64   │
│ Competitor made better offer    ┆ 311  │
└─────────────────────────────────┴──────┘

In [19]:
df.filter(pl.col('Churn Label')=='Yes'
        #   ,pl.col('Churn Reason').is_null()
          ,pl.col('Churn Category').is_null()
          )\
.group_by(['Churn Reason','Churn Category'])\
.len()

shape: (0, 3)
┌──────────────┬────────────────┬─────┐
│ Churn Reason ┆ Churn Category ┆ len │
│ ---          ┆ ---            ┆ --- │
│ str          ┆ str            ┆ u32 │
╞══════════════╪════════════════╪═════╡
└──────────────┴────────────────┴─────┘

In [20]:
df = df.with_columns(
    pl.col("Churn Category").fill_null("NO_LABEL")
    ,pl.col("Churn Reason").fill_null("NO_LABEL")
)

Conclusions:
- Fiels 'Count' and 'Quarter' have only one value

In [21]:
df

shape: (7_043, 11)
┌─────────────┬───────┬─────────┬─────────────┬───┬─────────────┬──────┬─────────────┬─────────────┐
│ Customer ID ┆ Count ┆ Quarter ┆ Satisfactio ┆ … ┆ Churn Score ┆ CLTV ┆ Churn       ┆ Churn       │
│ ---         ┆ ---   ┆ ---     ┆ n Score     ┆   ┆ ---         ┆ ---  ┆ Category    ┆ Reason      │
│ str         ┆ i64   ┆ str     ┆ ---         ┆   ┆ i64         ┆ i64  ┆ ---         ┆ ---         │
│             ┆       ┆         ┆ i64         ┆   ┆             ┆      ┆ str         ┆ str         │
╞═════════════╪═══════╪═════════╪═════════════╪═══╪═════════════╪══════╪═════════════╪═════════════╡
│ 8779-QRDMV  ┆ 1     ┆ Q3      ┆ 3           ┆ … ┆ 91          ┆ 5433 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offered     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ more data   │
│ 7495-OOKFY  ┆ 1     ┆ Q3      ┆ 3           ┆ … ┆ 69          ┆ 5302 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ made better │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offer       │
│ 1658-BYGOY  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 81          ┆ 3179 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ made better │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offer       │
│ 4598-XLKNJ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 88          ┆ 5337 ┆ Dissatisfac ┆ Limited     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆ tion        ┆ range of    │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ services    │
│ 4846-WHAFZ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 67          ┆ 2793 ┆ Price       ┆ Extra data  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ charges     │
│ …           ┆ …     ┆ …       ┆ …           ┆ … ┆ …           ┆ …    ┆ …           ┆ …           │
│ 2569-WGERO  ┆ 1     ┆ Q3      ┆ 5           ┆ … ┆ 45          ┆ 5306 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 6840-RESVB  ┆ 1     ┆ Q3      ┆ 3           ┆ … ┆ 59          ┆ 2140 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 2234-XADUH  ┆ 1     ┆ Q3      ┆ 4           ┆ … ┆ 71          ┆ 5560 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 4801-JZAZL  ┆ 1     ┆ Q3      ┆ 4           ┆ … ┆ 59          ┆ 2793 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 3186-AJIEK  ┆ 1     ┆ Q3      ┆ 4           ┆ … ┆ 38          ┆ 5097 ┆ NO_LABEL    ┆ NO_LABEL    │
└─────────────┴───────┴─────────┴─────────────┴───┴─────────────┴──────┴─────────────┴─────────────┘

In [22]:
df.write_parquet('../../Data/silver/status.parquet')