In [55]:
# %pip install fastexcel
# %pip install polars

In [56]:
%run ../utils/configuration.ipynb

In [57]:
import polars as pl

In [58]:
df = pl.read_excel(f"{raw_path}/Telco_customer_churn_status.xlsx")

In [59]:
df.head(10)

shape: (10, 11)
┌─────────────┬───────┬─────────┬─────────────┬───┬─────────────┬──────┬─────────────┬─────────────┐
│ Customer ID ┆ Count ┆ Quarter ┆ Satisfactio ┆ … ┆ Churn Score ┆ CLTV ┆ Churn       ┆ Churn       │
│ ---         ┆ ---   ┆ ---     ┆ n Score     ┆   ┆ ---         ┆ ---  ┆ Category    ┆ Reason      │
│ str         ┆ i64   ┆ str     ┆ ---         ┆   ┆ i64         ┆ i64  ┆ ---         ┆ ---         │
│             ┆       ┆         ┆ i64         ┆   ┆             ┆      ┆ str         ┆ str         │
╞═════════════╪═══════╪═════════╪═════════════╪═══╪═════════════╪══════╪═════════════╪═════════════╡
│ 8779-QRDMV  ┆ 1     ┆ Q3      ┆ 3           ┆ … ┆ 91          ┆ 5433 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offered     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ more data   │
│ 7495-OOKFY  ┆ 1     ┆ Q3      ┆ 3           ┆ … ┆ 69          ┆ 5302 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ made better │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offer       │
│ 1658-BYGOY  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 81          ┆ 3179 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ made better │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ offer       │
│ 4598-XLKNJ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 88          ┆ 5337 ┆ Dissatisfac ┆ Limited     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆ tion        ┆ range of    │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ services    │
│ 4846-WHAFZ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 67          ┆ 2793 ┆ Price       ┆ Extra data  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ charges     │
│ 4412-YLTKF  ┆ 1     ┆ Q3      ┆ 1           ┆ … ┆ 95          ┆ 4638 ┆ Competitor  ┆ Competitor  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ had better  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ devices     │
│ 0390-DCFDQ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 76          ┆ 3964 ┆ Other       ┆ Don't know  │
│ 3445-HXXGF  ┆ 1     ┆ Q3      ┆ 1           ┆ … ┆ 91          ┆ 5444 ┆ Dissatisfac ┆ Service dis │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆ tion        ┆ satisfactio │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ n           │
│ 2656-FMOKZ  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 91          ┆ 5717 ┆ Dissatisfac ┆ Limited     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆ tion        ┆ range of    │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ services    │
│ 2070-FNEXE  ┆ 1     ┆ Q3      ┆ 2           ┆ … ┆ 81          ┆ 4419 ┆ Price       ┆ Lack of     │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ affordable  │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ download/up │
│             ┆       ┆         ┆             ┆   ┆             ┆      ┆             ┆ …           │
└─────────────┴───────┴─────────┴─────────────┴───┴─────────────┴──────┴─────────────┴─────────────┘

In [60]:
df.count()

shape: (1, 11)
┌─────────────┬───────┬─────────┬───────────────┬───┬─────────────┬──────┬──────────┬──────────────┐
│ Customer ID ┆ Count ┆ Quarter ┆ Satisfaction  ┆ … ┆ Churn Score ┆ CLTV ┆ Churn    ┆ Churn Reason │
│ ---         ┆ ---   ┆ ---     ┆ Score         ┆   ┆ ---         ┆ ---  ┆ Category ┆ ---          │
│ u32         ┆ u32   ┆ u32     ┆ ---           ┆   ┆ u32         ┆ u32  ┆ ---      ┆ u32          │
│             ┆       ┆         ┆ u32           ┆   ┆             ┆      ┆ u32      ┆              │
╞═════════════╪═══════╪═════════╪═══════════════╪═══╪═════════════╪══════╪══════════╪══════════════╡
│ 7043        ┆ 7043  ┆ 7043    ┆ 7043          ┆ … ┆ 7043        ┆ 7043 ┆ 1869     ┆ 1869         │
└─────────────┴───────┴─────────┴───────────────┴───┴─────────────┴──────┴──────────┴──────────────┘

In [61]:
df.describe()

shape: (9, 12)
┌────────────┬────────────┬────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ statistic  ┆ Customer   ┆ Count  ┆ Quarter ┆ … ┆ Churn      ┆ CLTV       ┆ Churn     ┆ Churn     │
│ ---        ┆ ID         ┆ ---    ┆ ---     ┆   ┆ Score      ┆ ---        ┆ Category  ┆ Reason    │
│ str        ┆ ---        ┆ f64    ┆ str     ┆   ┆ ---        ┆ f64        ┆ ---       ┆ ---       │
│            ┆ str        ┆        ┆         ┆   ┆ f64        ┆            ┆ str       ┆ str       │
╞════════════╪════════════╪════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ count      ┆ 7043       ┆ 7043.0 ┆ 7043    ┆ … ┆ 7043.0     ┆ 7043.0     ┆ 1869      ┆ 1869      │
│ null_count ┆ 0          ┆ 0.0    ┆ 0       ┆ … ┆ 0.0        ┆ 0.0        ┆ 5174      ┆ 5174      │
│ mean       ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 58.50504   ┆ 4400.29575 ┆ null      ┆ null      │
│            ┆            ┆        ┆         ┆   ┆            ┆ 5          ┆           ┆           │
│ std        ┆ null       ┆ 0.0    ┆ null    ┆ … ┆ 21.170031  ┆ 1183.05715 ┆ null      ┆ null      │
│            ┆            ┆        ┆         ┆   ┆            ┆ 2          ┆           ┆           │
│ min        ┆ 0002-ORFBO ┆ 1.0    ┆ Q3      ┆ … ┆ 5.0        ┆ 2003.0     ┆ Attitude  ┆ Attitude  │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ of        │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ service   │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ provider  │
│ 25%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 40.0       ┆ 3469.0     ┆ null      ┆ null      │
│ 50%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 61.0       ┆ 4527.0     ┆ null      ┆ null      │
│ 75%        ┆ null       ┆ 1.0    ┆ null    ┆ … ┆ 76.0       ┆ 5381.0     ┆ null      ┆ null      │
│ max        ┆ 9995-HOTOH ┆ 1.0    ┆ Q3      ┆ … ┆ 96.0       ┆ 6500.0     ┆ Price     ┆ Service   │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ dissatisf │
│            ┆            ┆        ┆         ┆   ┆            ┆            ┆           ┆ action    │
└────────────┴────────────┴────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [62]:
df.columns

['Customer ID',
 'Count',
 'Quarter',
 'Satisfaction Score',
 'Customer Status',
 'Churn Label',
 'Churn Value',
 'Churn Score',
 'CLTV',
 'Churn Category',
 'Churn Reason']

In [63]:
df.group_by(pl.col('Customer ID')).len()

shape: (7_043, 2)
┌─────────────┬─────┐
│ Customer ID ┆ len │
│ ---         ┆ --- │
│ str         ┆ u32 │
╞═════════════╪═════╡
│ 5167-ZFFMM  ┆ 1   │
│ 4616-EWBNJ  ┆ 1   │
│ 2027-FECZV  ┆ 1   │
│ 3808-HFKDE  ┆ 1   │
│ 2569-WGERO  ┆ 1   │
│ …           ┆ …   │
│ 7233-DRTRF  ┆ 1   │
│ 7061-OVMIM  ┆ 1   │
│ 7621-VPNET  ┆ 1   │
│ 4030-VPZBD  ┆ 1   │
│ 2533-TIBIX  ┆ 1   │
└─────────────┴─────┘

In [64]:
df.group_by(pl.col('Count')).len()

shape: (1, 2)
┌───────┬──────┐
│ Count ┆ len  │
│ ---   ┆ ---  │
│ i64   ┆ u32  │
╞═══════╪══════╡
│ 1     ┆ 7043 │
└───────┴──────┘

In [65]:
df.group_by(pl.col('Quarter')).len()

shape: (1, 2)
┌─────────┬──────┐
│ Quarter ┆ len  │
│ ---     ┆ ---  │
│ str     ┆ u32  │
╞═════════╪══════╡
│ Q3      ┆ 7043 │
└─────────┴──────┘

In [66]:
df.group_by(pl.col('Satisfaction Score')).len()

shape: (5, 2)
┌────────────────────┬──────┐
│ Satisfaction Score ┆ len  │
│ ---                ┆ ---  │
│ i64                ┆ u32  │
╞════════════════════╪══════╡
│ 3                  ┆ 2665 │
│ 2                  ┆ 518  │
│ 4                  ┆ 1789 │
│ 1                  ┆ 922  │
│ 5                  ┆ 1149 │
└────────────────────┴──────┘

In [67]:
df.group_by(pl.col('Customer Status')).len()

shape: (3, 2)
┌─────────────────┬──────┐
│ Customer Status ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ Stayed          ┆ 4720 │
│ Churned         ┆ 1869 │
│ Joined          ┆ 454  │
└─────────────────┴──────┘

In [68]:
df.group_by(pl.col('Churn Label')).len()

shape: (2, 2)
┌─────────────┬──────┐
│ Churn Label ┆ len  │
│ ---         ┆ ---  │
│ str         ┆ u32  │
╞═════════════╪══════╡
│ Yes         ┆ 1869 │
│ No          ┆ 5174 │
└─────────────┴──────┘

In [69]:
df.group_by(pl.col('Churn Value')).len()

shape: (2, 2)
┌─────────────┬──────┐
│ Churn Value ┆ len  │
│ ---         ┆ ---  │
│ i64         ┆ u32  │
╞═════════════╪══════╡
│ 0           ┆ 5174 │
│ 1           ┆ 1869 │
└─────────────┴──────┘

In [70]:
df.group_by(pl.col('Churn Score')).len()

shape: (81, 2)
┌─────────────┬─────┐
│ Churn Score ┆ len │
│ ---         ┆ --- │
│ i64         ┆ u32 │
╞═════════════╪═════╡
│ 21          ┆ 84  │
│ 24          ┆ 86  │
│ 9           ┆ 3   │
│ 42          ┆ 87  │
│ 30          ┆ 90  │
│ …           ┆ …   │
│ 86          ┆ 49  │
│ 95          ┆ 46  │
│ 92          ┆ 51  │
│ 89          ┆ 60  │
│ 83          ┆ 59  │
└─────────────┴─────┘

In [71]:
df.group_by(pl.col('CLTV')).len()

shape: (3_438, 2)
┌──────┬─────┐
│ CLTV ┆ len │
│ ---  ┆ --- │
│ i64  ┆ u32 │
╞══════╪═════╡
│ 2757 ┆ 2   │
│ 6297 ┆ 1   │
│ 5910 ┆ 1   │
│ 3031 ┆ 1   │
│ 4606 ┆ 2   │
│ …    ┆ …   │
│ 3528 ┆ 1   │
│ 3135 ┆ 1   │
│ 4960 ┆ 1   │
│ 5880 ┆ 3   │
│ 4972 ┆ 2   │
└──────┴─────┘

In [72]:
df.group_by(pl.col('Churn Category')).len()

shape: (6, 2)
┌─────────────────┬──────┐
│ Churn Category  ┆ len  │
│ ---             ┆ ---  │
│ str             ┆ u32  │
╞═════════════════╪══════╡
│ Dissatisfaction ┆ 303  │
│ Attitude        ┆ 314  │
│ null            ┆ 5174 │
│ Competitor      ┆ 841  │
│ Price           ┆ 211  │
│ Other           ┆ 200  │
└─────────────────┴──────┘

In [73]:
df.group_by(pl.col('Churn Reason')).len()

shape: (21, 2)
┌─────────────────────────────────┬─────┐
│ Churn Reason                    ┆ len │
│ ---                             ┆ --- │
│ str                             ┆ u32 │
╞═════════════════════════════════╪═════╡
│ Service dissatisfaction         ┆ 63  │
│ Price too high                  ┆ 78  │
│ Extra data charges              ┆ 39  │
│ Poor expertise of phone suppor… ┆ 12  │
│ Network reliability             ┆ 72  │
│ …                               ┆ …   │
│ Competitor had better devices   ┆ 313 │
│ Lack of affordable download/up… ┆ 30  │
│ Attitude of support person      ┆ 220 │
│ Long distance charges           ┆ 64  │
│ Limited range of services       ┆ 37  │
└─────────────────────────────────┴─────┘

In [74]:
df.filter(pl.col('Churn Label')=='Yes'
        #   ,pl.col('Churn Reason').is_null()
          ,pl.col('Churn Category').is_null()
          )\
.group_by(['Churn Reason','Churn Category'])\
.len()

shape: (0, 3)
┌──────────────┬────────────────┬─────┐
│ Churn Reason ┆ Churn Category ┆ len │
│ ---          ┆ ---            ┆ --- │
│ str          ┆ str            ┆ u32 │
╞══════════════╪════════════════╪═════╡
└──────────────┴────────────────┴─────┘

In [75]:
df = df.with_columns(
    pl.col("Churn Category").fill_null("NO_LABEL")
    ,pl.col("Churn Reason").fill_null("NO_LABEL")
)

Conclusions:
- Fiels 'Count' and 'Quarter' have only one value

In [ ]:
# df = df.drop(["Quarter"])

In [77]:
df

shape: (7_043, 8)
┌──────────────┬──────────────┬──────────┬───────┬──────────────┬──────┬─────────────┬─────────────┐
│ Customer ID  ┆ Satisfaction ┆ Customer ┆ Churn ┆ Churn Score  ┆ CLTV ┆ Churn       ┆ Churn       │
│ ---          ┆ Score        ┆ Status   ┆ Value ┆ ---          ┆ ---  ┆ Category    ┆ Reason      │
│ str          ┆ ---          ┆ ---      ┆ ---   ┆ i64          ┆ i64  ┆ ---         ┆ ---         │
│              ┆ i64          ┆ str      ┆ i64   ┆              ┆      ┆ str         ┆ str         │
╞══════════════╪══════════════╪══════════╪═══════╪══════════════╪══════╪═════════════╪═════════════╡
│ 8779-QRDMV   ┆ 3            ┆ Churned  ┆ 1     ┆ 91           ┆ 5433 ┆ Competitor  ┆ Competitor  │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ offered     │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ more data   │
│ 7495-OOKFY   ┆ 3            ┆ Churned  ┆ 1     ┆ 69           ┆ 5302 ┆ Competitor  ┆ Competitor  │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ made better │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ offer       │
│ 1658-BYGOY   ┆ 2            ┆ Churned  ┆ 1     ┆ 81           ┆ 3179 ┆ Competitor  ┆ Competitor  │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ made better │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ offer       │
│ 4598-XLKNJ   ┆ 2            ┆ Churned  ┆ 1     ┆ 88           ┆ 5337 ┆ Dissatisfac ┆ Limited     │
│              ┆              ┆          ┆       ┆              ┆      ┆ tion        ┆ range of    │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ services    │
│ 4846-WHAFZ   ┆ 2            ┆ Churned  ┆ 1     ┆ 67           ┆ 2793 ┆ Price       ┆ Extra data  │
│              ┆              ┆          ┆       ┆              ┆      ┆             ┆ charges     │
│ …            ┆ …            ┆ …        ┆ …     ┆ …            ┆ …    ┆ …           ┆ …           │
│ 2569-WGERO   ┆ 5            ┆ Stayed   ┆ 0     ┆ 45           ┆ 5306 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 6840-RESVB   ┆ 3            ┆ Stayed   ┆ 0     ┆ 59           ┆ 2140 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 2234-XADUH   ┆ 4            ┆ Stayed   ┆ 0     ┆ 71           ┆ 5560 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 4801-JZAZL   ┆ 4            ┆ Stayed   ┆ 0     ┆ 59           ┆ 2793 ┆ NO_LABEL    ┆ NO_LABEL    │
│ 3186-AJIEK   ┆ 4            ┆ Stayed   ┆ 0     ┆ 38           ┆ 5097 ┆ NO_LABEL    ┆ NO_LABEL    │
└──────────────┴──────────────┴──────────┴───────┴──────────────┴──────┴─────────────┴─────────────┘

In [78]:
df.columns

['Customer ID',
 'Satisfaction Score',
 'Customer Status',
 'Churn Value',
 'Churn Score',
 'CLTV',
 'Churn Category',
 'Churn Reason']

In [79]:
df = df.rename({c: to_snake_case(c) for c in df.columns})

In [80]:
df.columns

['customer_id',
 'satisfaction_score',
 'customer_status',
 'churn_value',
 'churn_score',
 'cltv',
 'churn_category',
 'churn_reason']

In [81]:
df.write_parquet(f'{silver_path}/status.parquet')